<% include partials/header.ejs %>

    <h1><%= title %></h1>

    <% if(title == "Projects"){  %>
        <div class="container mt-3">
            <h2>Projects</h2>
            
            <table class="table table-striped">
            <thead>
                <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                </tr>
                <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
                </tr>
                <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
                </tr>
            </tbody>
            </table>
        </div>
    <% } else { %>  
        
        <div class="container mt-3">
            <h2>Services</h2>
            
            <table class="table table-dark">
            <thead>
                <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                </tr>
                <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
                </tr>
                <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
                </tr>
            </tbody>
            </table>
            <a href="/pdf/file-sample_PDF_150kB.pdf">PDF of my Services</a>
        </div>
  
    <% } %>


<% include partials/footer.ejs %>
